# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules em qualquer subpasta
**/node_modules

# Build directories
**/dist
**/dist-ssr

# Local env files
**/.env

# Local config files
*.local

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/Dev